
* {
	font-family: Arial, Helvetica, sans-serif;
	color: black;
	text-decoration: none;
	margin: 0;
	padding: 0;
}
body {
	height: 35rem;
	background-color: #b3d9ff;
}
h1{
	text-align: center;
	margin-top: 0.5rem;
	color: white;
}
p {
	margin-top: 0.35rem;
}
a{
	color: #0000cc;
	text-decoration: underline;
}

.outLine {
	border: solid black 4px;
	background-color: grey;
	position: relative;
	width: 19rem;
	height: 30rem;
	margin: 0 auto;
	top: 2rem;
	border-radius: 1em;
}
.displayScreen {
	height: 4rem;
	width: 90%;
	margin: 1.5rem auto;
	background-color: #cccccc;
	border: solid black 2px;
}
.equationDisplay {
	height: 4rem;
	width: 40%;
	font-size: 2em;
}
.answerDisplay {
	height: 4rem;
	width: 60%;
	position: relative;
	left: 6.85rem;
	bottom: 4rem;
	text-align: right;
	font-size: 2em;
}
.keyPad {
	height: 21rem;
	width: 90%;
	margin: 1.5rem auto;
	background-color: #333333;
	border: solid black 2px;
	border-radius: 0.5em;
}
.keyPadTable {
	height: 19.5rem;
	width: 100%;
	margin: 0.2rem auto;
	position: relative;
	left: 0rem;
}
.button {
	width: 4rem;
	height: 4rem;
	border-radius: 100%;
	font-size: 2rem;
	font-weight: bold;
	background-color: #e6e6e6;
}
.operatorButton, .equalsButton, .delete, .positivity {
	background-color: #ff5c33;
	color: white;
}
.equalsButton {
	width: 8rem;
	border-radius: 40%;
}


























